@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2a80b3;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-div {
  padding: 12px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  transition: "background 0.3s ease-in-out";
  box-shadow: inset 0px 0px 30px rgba(31, 217, 173, 0.7);
}

.gradient-header {
  padding: 12px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  border-radius: 24px;
  border: 1px solid grey;
  cursor: pointer;
  transition: "background 0.3s ease-in-out";
  box-shadow: inset 0px 0px 30px rgba(123, 136, 133, 0.8);
}

/* App.css */
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* Light background */
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

