@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

:root {
  font-family: "Poppins", Arial, system-ui, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider-controler .swiper-button-prev {
  left: 30% !important;
  transform: translateX(38%) !important;
}
.slider-controler .swiper-button-next {
  left: 68% !important;
  transform: translateX(-62%) !important;
}

@media (max-width: 1024px) {
  .slider-controler .swiper-button-prev {
    left: 10% !important;
    transform: translateX(-25%) !important;
  }

  .slider-controler .swiper-button-next {
    left: 90% !important;
    transform: translateX(-75%) !important;
  }
}

.slider-controler .slider-arrow {
  width: 3rem;
}

.slider-controler .slider-arrow::after {
  content: "";
}
